* {
    font-family: 'Times New Roman', Times, serif;
}


/* border */

.border-mine {
    border-bottom: 1px solid #eeeeee;
}

.border-bottom {
    border-bottom: none!important;
}

.contact-border {
    border-right: 1px solid #191919;
}

.menu-border {
    border-radius: 0;
    border: none;
}


/* my css */

.header-bg {
    background-color: #000000;
}

.fz {
    color: #e6e3e3;
}

.sec-header {
    color: #787878;
}

.breadcrumb-item {
    font-size: 1.1rem;
}

.cf-rs {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a47c48;
}

.text-warning {
    color: #a47c48!important;
    font-size: 1.1rem;
}

.unicode {
    font-family: Myanmar3, Yunghkio, 'Times New Roman';
    font-size: 16px;
}

.mine {
    background-color: #000;
}

a {
    text-decoration: none!important;
    color: #e6e3e3!important;
}

.btn {
    border-radius: 0!important;
    background-color: #a47c48!important;
}

.myhr {
    width: 50px;
    border-top: 2px solid #a47c48;
}

.mb-sm-2 {
    margin-bottom: 1.2rem!important;
}

.btn-warning {
    background-color: #a47c48!important;
    color: #e6e3e3!important;
    border-color: #a47c48!important;
}

.custom-select,
.form-control,
.input-group-text {
    border-radius: 0!important;
    background-color: #191919!important;
    padding: 1.4rem 0.75rem!important;
    color: gray!important;
    font-size: 1.15rem!important;
}

.mycol-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.card-img {
    width: 100%;
    height: 100%;
    border-radius: 0!important;
}

p {
    font-size: 1.1rem;
}

.my-height {
    height: 100%;
}

.my-height-food {
    height: auto;
}

.welcome-fz {
    font-size: 2rem;
}

.alert-success {
    background-color: #191919!important;
}

.form-name {
    font-size: 1.1rem;
}

.btn:disabled {
    opacity: inherit!important;
}

.text-in-btn {
    font-size: 1.2rem;
}

.card-deck-mine {
    margin-left: -20px;
    margin-right: -20px;
}

.card {
    border-radius: 0!important;
}

.badge-mine {
    color: #ffffff;
    background-color: #a47c48;
}

.footer-link {
    font-size: 1.2rem;
}

.btn {
    padding: .375rem 1.75rem !important;
}

.fadeIn {
    animation-duration: 1s!important;
}

.my-text {
    text-align: center;
    padding-right: 1.5rem!important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #e6e3e3!important;
    background-color: #191919!important;
}

.page-link {
    background-color: #000!important;
    border: 1px solid #787878!important;
    border-radius: 0!important;
    padding: 0.6rem 0.99rem!important;
}

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bg-fixed {
    background-attachment: fixed !important;
}


/* padding */

.p-5 {
    padding: 9rem!important;
}

.contact-padding {
    padding: 8rem;
}

.pt-5,
.pb-5 {
    padding-top: 8rem!important;
    padding-bottom: 8rem!important;
}

.pl-5,
.px-5 {
    padding-left: 2.2rem!important;
}

.testimonial-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.sec-header-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

small {
    font-size: 90%!important;
    font-weight: 500!important;
}


/* hover */

ul>div>li>a:hover {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #a47c48!important;
}

ul>li>a:hover {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #a47c48!important;
}

a:hover {
    color: #ffffff!important;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform 1.5s, filter 1.5s ease-in-out;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
    transition-duration: 1.3s;
}


/* active */

.location-bg {
    background-color: #191919;
}

.active>a {
    color: #a47c48!important;
}


/* foucs */

button:focus {
    outline: none;
}

.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(164, 124, 72, 0.5)!important;
}

.form-control:focus {
    box-shadow: none!important;
    border-color: gray!important;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, .25);
}


/* margin */

.menu-margin-top {
    margin-top: 0;
}

.li-margin-right {
    margin-right: 1rem;
}

.margin-left-right {
    margin-left: 0;
    margin-right: 0;
}

.margin-bottom {
    margin-bottom: 0;
}


/* navbar */

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.15rem;
    line-height: 1;
    background-color: transparent;
    border-radius: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(164,124,72)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 50px!important;
    height: 30px!important;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}


/*****************************************************/

@media (max-width: 767.98px) {
    .menu-margin-top {
        margin-top: 1rem;
    }
    .li-margin-right {
        margin-right: 0;
    }
    .border-bottom {
        border-bottom: 1px solid #191919!important;
    }
    .fixed-bottom {
        position: fixed;
        right: 0;
        bottom: 412px;
        left: 0;
        z-index: 1030;
    }
    .mb-footer {
        margin-bottom: .5rem;
    }
    .mb-sm-2 {
        margin-bottom: .5rem!important;
    }
    h4 {
        font-size: 1.4rem;
    }
    .welcome-fz {
        font-size: 1.6rem;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: inline-block;
        width: 20px!important;
        height: 20px!important;
    }
    .mycol-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .margin-left-right {
        margin-left: .25rem;
        margin-right: .25rem;
    }
    .border-mine {
        border-right: none;
    }
    .card-img {
        width: 100%!important;
        height: auto;
    }
    .p-5 {
        padding: 3rem!important;
    }
    .pt-5,
    .pb-5 {
        padding-top: 4rem!important;
        padding-bottom: 4rem!important;
    }
    .my-height {
        height: 435px;
    }
    .my-height-food {
        height: 225px;
    }
    .sec-header-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .form-name {
        font-size: 1rem;
    }
    .footer-link {
        font-size: 1.1rem;
    }
    .text-in-btn {
        font-size: 1.1rem;
    }
    .margin-bottom {
        margin-bottom: 2px;
    }
    .my-text {
        text-align: right;
        padding-right: .5rem!important;
    }
    .facebook {
        padding: .5rem 1rem;
        text-align: right;
        padding-right: .5rem;
    }
    .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .bg-fixed {
        background-attachment: fixed !important;
    }
    .padding-review-mobile {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .menu-margin-top {
        margin-top: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    .price {
        font-size: 12px;
        color: #787878;
    }
    p {
        font-size: .9rem;
    }
    h5 {
        font-size: 1.1rem;
    }
    small {
        font-size: 75%!important;
        font-weight: 500!important;
    }
    .mycol-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .text {
        font-size: .9rem;
    }
    .welcome-fz {
        font-size: 1.5rem;
    }
    .li-margin-right {
        margin-right: 1px;
    }
    .border-bottom {
        border-bottom: 1px solid #191919!important;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: inline-block;
        width: 25px!important;
        height: 25px!important;
    }
    .p-5 {
        padding: 3rem!important;
    }
    .pt-5,
    .pb-5 {
        padding-top: 4rem!important;
        padding-bottom: 4rem!important;
    }
    .form-name {
        font-size: 1rem;
    }
    .sec-header-padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .my-text {
        text-align: right;
        padding-right: .5rem!important;
    }
    .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .bg-fixed {
        background-attachment: fixed !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h2 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    small {
        font-size: 80%!important;
    }
    .welcome-fz {
        font-size: 1.5rem;
    }
    .text {
        font-size: 1.15rem;
    }
    .mycol-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .form-name {
        font-size: 1rem;
    }
    .p-5 {
        padding: 6rem!important;
    }
    .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .bg-fixed {
        background-attachment: fixed !important;
    }
}